<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if messages.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <a href="/shows">Go back</a>
        <h2>Add new show</h2>
        <form action="/new_show" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Title:</label>
                <input type="text" class="form-control" name="title">
            </div>
            <div class="form-group">
                <label>Network:</label>
                <input type="text" class="form-control" name="network">
            </div>
            <div class="form-group">
                <label>Release Date:</label>
                <input type="date" name="release_date" id="">
            </div>
            <div class="form-group">
                <label>Description:</label>
                <textarea name="description" id="" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>